menu "Example Configuration"

    config EXAMPLE_MANUAL_DESC
        bool "Set up a USB descriptor manually in code"
        default y
        help
            You can set up a descriptor using Menuconfig or independently of
            your project configuration - manually in code

    config CFG_TUSB_NET
	bool "Enable CFG_TUSB_NET"
	default y
	help
	    Enable the RNDIS/USB_CDC_ECM module on tinyusb's stack

    config EXAMPLE_ETH_PHY_RST_GPIO
        int "PHY Reset GPIO number"
        default 16 if IDF_TARGET_ESP32
        default 5 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3
        help
            Set the GPIO number used to reset PHY chip.
            Set to -1 to disable PHY chip hardware reset.

    config EXAMPLE_ETH_PHY_ADDR
        int "PHY Address"
        range 0 31
        default 1
        help
            Set PHY address according your board schematic.
endmenu
